<!DOCTYPE html>
<html>
  <head>
    <title>Hot Dogs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800i" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <body>
    <!-- <%= render 'layouts/header' %> -->
    <%= yield %>
  </body>
</html>
